.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App button, h2{
  margin: 5vh auto;
}

.ProductPicker{
 width: fit-content;
  /* border: 1px solid black; */
  margin:auto;
  display: flex;
  flex-direction: column;
 /* border: 3px solid green; */

}

.products{
  width: 735px;
  border-top: 2px solid gainsboro;
  border-bottom: 1px solid gainsboro;
  margin: auto;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  max-height: 75vh;

}


.products p{

  margin: auto 0;
}

.mainitems{
 /* border: 1px solid black; */

  
  display: flex;
  flex-direction: column;
}

.variants{
  display: flex;
  gap: 2vh;
  
  border-bottom: 1px solid gainsboro;
  border-top: 1px solid gainsboro;
height: 10vh;
padding: 1vh;

}
.variants img{
  
  width: fit-content;
  aspect-ratio: 1/1;
  /* border: 1px solid gray; */
}

.items{
  display: flex;
  justify-content: space-between;
  gap: 2vh;
  height: 8vh;
  border-bottom: 1px solid gainsboro;
padding: 1vh 4vh 1vh 8vh;
}

.items div{
  display: flex;
  gap: 2vh;
}

.search{
  padding: 1vh;
  border: 1px solid gainsboro;
  margin: 2vh;
  border-radius: 1vh;
}

.checkmark{
width: 20px;
background-color: #eee;
border: 2px solid gainsboro;
margin-left: 2vh;
}

.check{
  width: 20px;
background-color: #eee;
border: 2px solid gainsboro;
margin-right: 3vh;

}
