.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App button, h2{
  margin: 5vh auto;
}

.ProductPicker{
 width: fit-content;
  /* border: 1px solid black; */
  margin:auto;
  display: flex;
  flex-direction: column;
 /* border: 3px solid green; */

}

.products{
  width: 725px;
  border-top: 1px solid gainsboro;
  /* border-bottom: 4px solid red; */
  margin: auto;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  max-height: 75vh;

}



.products p{

  margin: auto 0;
}

.mainitems{
 border: 1px solid black;

  
  display: flex;
  flex-direction: column;
}

.variants{
  display: flex;
  gap: 2vh;
  
  border-bottom: 1px solid gainsboro;
  border-top: 1px solid gainsboro;
height: 10vh;
padding: 1vh;

}
.variants img{
  
  width: fit-content;
  aspect-ratio: 1/1;
  /* border: 1px solid gray; */
}

.items{
  display: flex;
  justify-content: space-between;
  gap: 2vh;
  height: 8vh;
  border-bottom: 1px solid gainsboro;
padding: 1vh 4vh 1vh 8vh;
}

.items div{
  display: flex;
  gap: 2vh;
}

.search{
  padding: 1vh;
  border: 1px solid gainsboro;
  margin: 2vh;
  border-radius: 1vh;
}

.checkmark{
width: 20px;
background-color: #eee;
border: 2px solid gainsboro;
margin-left: 2vh;
}

.check{
  width: 20px;
background-color: #eee;
border: 2px solid gainsboro;
margin-right: 3vh;

}


.dragable{
  width: 50%;
  height: 8vh;
  margin: auto;
  margin-bottom: 2vh;
  display: flex;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  

  /* border: 1px solid red; */
}
.input{
  width: 64%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;  display: flex;
  gap: 0vh;
  justify-content: space-around;
  align-items: center;
  margin: auto;
 /* border: 1px solid red; */
 height: 5vh;
  
}

.dragable input{
margin: auto;
width: 90%;
padding: 4px 10px;
  /* border: 1px solid gainsboro; */
}

.addbutton{
  color: white;
  background-color: #008060;
  /* border-radius: 4px; */
  padding: 1vh 4vh;
}


